@font-face {
	font-family: 'Anonymous Pro';
	src: url('/fonts/Anonymous Pro/AnonymousPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Cutive Mono';
	src: url('/fonts/Cutive Mono/CutiveMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Major Mono Display';
	src: url('/fonts/Major Mono Display/MajorMonoDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'PT Mono';
	src: url('/fonts/PT Mono/PTMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/fonts/Roboto Mono/static/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono Light';
	src: url('/fonts/Roboto Mono/static/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono Thin';
	src: url('/fonts/Roboto Mono/static/RobotoMono-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Share Tech Mono';
	src: url('/fonts/Share Tech Mono/ShareTechMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	src: url('/fonts/Source Code Pro/SourceCodePro_FontsOnly-1.009/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro Light';
	src: url('/fonts/Source Code Pro/SourceCodePro_FontsOnly-1.009/SourceCodePro-Light.ttf') format('truetype');
}