---
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@components/Hero.astro";
import Album from "@components/Album.astro";

import albumImage from "@assets/images/unnamed_album.png";
import evolvyBugsImage from "@assets/images/EvolvyBugs.png";
---

<MainLayout>
	<Hero />

	<!-- Compositions -->
	<section>
		<Album
			title="New Album Incoming!"
			imageSrc={albumImage.src}
			imageAlt="Album art for unnamed album"
		>
			<p slot="description" class="mt-4 mb-0 color-main">
				Album art by Emilee Piedmont.
			</p>

			<div slot="tracks">
				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="0"
				>
					<div class="col-10 p-3">Track 1</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="1"
				>
					<div class="col-10 p-3">Track 2</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="2"
				>
					<div class="col-10 p-3">Track 3</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="3"
				>
					<div class="col-10 p-3">Track 4</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="4"
				>
					<div class="col-10 p-3">Track 5</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="5"
				>
					<div class="col-10 p-3">Track 6</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-lg-bottom align-items-center song color-main"
					data-tracknum="6"
				>
					<div class="col-10 p-3">Track 7</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->
			</div>
		</Album>

		<Album title="Solace and Respite">
			<p slot="description" class="mb-0 color-main">
				Solace and Respite is an album I'm writing to score my dad's series of
				short nature videos. My goal with this album is to produce relaxing
				music that communicates the tranquility of the scenes in the videos. For
				this album, I've taken a "less is more" approach, layering singable
				melodies over recognizable chord progressions and filling in the
				remaining space with lush effects and ear candy, illustrating the
				emotions captured in my dad's videos.
			</p>

			<div slot="tracks">
				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="7"
				>
					<div class="col-10 p-3">Saturday Snowfall</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-lg-bottom align-items-center color-main"
				>
					<div class="col-10 p-3">More to come...</div>
					<div class="col-2 p-3 text-end invisible">
						<i class="bi-play-fill"></i>
					</div>
				</div>
				<!-- row -->
			</div>
		</Album>

		<Album
			title="Evolvy Bugs"
			imageSrc={evolvyBugsImage.src}
			imageAlt="Album art for Evolvy Bugs"
		>
			<div slot="description">
				<p class="mt-4 color-main">Album art by Landon Wright.</p>
				<p class="color-main">
					Evolvy Bugs is a student project I worked on during college. It's a
					mobile shoot-em-up set in outer space where the player fights hordes
					of aliens. The game uses evolutionary computation to adapt the enemies
					to the player's play style, ensuring the player is never too
					successful for too long.
				</p>
				<p class="color-main">
					Evolvy Bugs has seven maps, each set in a different environment in
					outer space (such as battlefield ruins or an icy nebula). I set out to
					capture the image of each of these environments in music. I also
					wanted to capture the somewhat hopeless tone of the game, as the
					objective is not to win, but rather to not lose for as long as
					possible. Since the game is set in space, I leaned heavily on
					synthesizers and washed them in expansive reverbs and delays.
				</p>
				<p class="mb-0 color-main">
					I wrote the music of Evolvy Bugs to be interactive and implemented it
					in the game using FMOD. I rendered the stems and mixed the music
					vertically in real time according to the intensity of the game. As the
					number of enemies increased, so did the number of instruments, and if
					any especially difficult enemies appeared, a set of arpeggios would
					fade in to warn the player that they were in trouble.
				</p>
			</div>

			<div slot="tracks">
				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="8"
				>
					<div class="col-10 p-3">Evolvy Bugs</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="9"
				>
					<div class="col-10 p-3">Embarkation</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="10"
				>
					<div class="col-10 p-3">Asteroid Belt</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="11"
				>
					<div class="col-10 p-3">Information Overload</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="12"
				>
					<div class="col-10 p-3">Cosmic Jungle</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="13"
				>
					<div class="col-10 p-3">Tail of a Comet</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="14"
				>
					<div class="col-10 p-3">For Science</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="15"
				>
					<div class="col-10 p-3">Mechanized Ruins</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-bottom align-items-center song color-main"
					data-tracknum="16"
				>
					<div class="col-10 p-3">Entrails</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->

				<div
					class="row px-xl-5 px-md-3 py-0 position-relative border-lg-bottom align-items-center song color-main"
					data-tracknum="17"
				>
					<div class="col-10 p-3">Evolution Always Wins</div>
					<div class="col-2 p-3 text-end"><i class="bi-play"></i></div>
				</div>
				<!-- row -->
			</div>
		</Album>
	</section>
</MainLayout>
