---
import TestLayout from "@layouts/TestLayout.astro";
import Hero from "@components/Hero.astro";
import AlbumGrid from "@components/AlbumGrid.astro";
---

<TestLayout>
	<section>
		<Hero />
	</section>

	<AlbumGrid />
</TestLayout>
