---
import AlbumCard from "@components/AlbumCard.astro";

import { getImage } from "astro:assets";

import unnamedAlbumArt from "@assets/albumArt/unnamed_album.png";
const unnamedAlbumArtOpt = await getImage({ src: unnamedAlbumArt });
import evolvyBugsAlbumArt from "@assets/albumArt/EvolvyBugs.png";
const evolvyBugsAlbumArtOpt = await getImage({ src: evolvyBugsAlbumArt });
import placeholderAlbumArt from "@assets/albumArt/album placeholder.png";
const placeholderAlbumArtOpt = await getImage({ src: placeholderAlbumArt });
---

<section>
	<h2>Albums</h2>

	<div class="container">
		<div class="card">
			<AlbumCard
				title="New Album Incoming!"
				year="2025"
				imageSrc={unnamedAlbumArtOpt.src}
				imageAlt="Album art for unnamed album."
				exploreUrl="/albums/unnamed"
			/>
		</div>
		<div class="card">
			<AlbumCard
				title="Solace and Respite"
				year="2023"
				imageSrc={placeholderAlbumArtOpt.src}
				imageAlt="Placeholder album art for Solace and Respite."
				exploreUrl="/albums/solaceandrespite"
			/>
		</div>
		<div class="card">
			<AlbumCard
				title="Evolvy Bugs"
				year="2020"
				imageSrc={evolvyBugsAlbumArtOpt.src}
				imageAlt="Album art for Evolvy Bugs."
				exploreUrl="/albums/evolvybugs"
			/>
		</div>
	</div>
</section>

<style lang="scss">
	.container {
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		margin: 0 auto;
		padding: 0 2rem;
	}

	section {
		margin-top: 4rem;
	}

	h2 {
		display: block;
		margin-bottom: 1rem;
		text-align: center;
		font-family: var(--font-sans);
		font-size: 2rem;
	}

	.card {
		flex: 1 0 51%;
		margin: 1.5rem 0;
	}

	@media screen and (min-width: 400px) {
	}

	@media screen and (min-width: 576px) {
	}

	@media screen and (min-width: 768px) {
		.container {
			padding: 0 0.5rem;
		}

		.card {
			flex-basis: 34%;
			max-width: calc(50% - 3rem);
			margin: 1.5rem;
		}
	}

	@media screen and (min-width: 992px) {
		.card:hover {
			transform: translate(-0.5rem, -0.5rem);
			box-shadow: 0.5rem 0.5rem 0rem #703784;
		}
	}

	@media screen and (min-width: 1200px) {
		.card {
			flex-basis: 26%;
		}
	}

	@media screen and (min-width: 1400px) {
	}

	@media screen and (min-width: calc(1400px + 3rem)) {
		.container {
			padding: 0;
		}
	}

	@media screen and (min-width: 2000px) {
	}

	@media screen and (min-width: 3000px) {
	}
</style>
