---
import AlbumCard from "@components/AlbumCard.astro";

import { getImage } from "astro:assets";

import unnamedAlbumArt from "@assets/images/unnamed_album.png";
const unnamedAlbumArtOpt = await getImage({ src: unnamedAlbumArt });
import evolvyBugsAlbumArt from "@assets/images/EvolvyBugs.png";
const evolvyBugsAlbumArtOpt = await getImage({ src: evolvyBugsAlbumArt });
import placeholderAlbumArt from "@assets/images/album placeholder.png";
const placeholderAlbumArtOpt = await getImage({ src: placeholderAlbumArt });
---

<section>
	<h2>Albums</h2>

	<div class="container">
		<div class="card">
			<AlbumCard
				title="New Album Incoming!"
				year="2025"
				imageSrc={unnamedAlbumArtOpt.src}
				imageAlt="Album art for unnamed album."
			/>
		</div>
		<div class="card">
			<AlbumCard
				title="Solace and Respite"
				year="2023"
				imageSrc={placeholderAlbumArtOpt.src}
				imageAlt="Placeholder album art for Solace and Respite."
			/>
		</div>
		<div class="card">
			<AlbumCard
				title="Evolvy Bugs"
				year="2020"
				imageSrc={evolvyBugsAlbumArtOpt.src}
				imageAlt="Album art for Evolvy Bugs."
			/>
		</div>
	</div>
</section>

<style>
	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

	.container {
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		margin: 0 auto;
		padding: 0 2em;
	}

	section {
		margin-top: 4em;
		font-size: 16px;
	}

	h2 {
		display: block;
		margin-bottom: 1em;
		text-align: center;
		font-family: "Inter", sans-serif;
		font-size: 2em;
	}

	.card {
		/* width: calc(33% - 3em); */
		flex: 1 0 51%;
		margin: 1.5em 0;
	}

	@media screen and (min-width: 400px) {
	}

	@media screen and (min-width: 576px) {
		section {
			font-size: 18px;
		}
	}

	@media screen and (min-width: 768px) {
		.container {
			padding: 0 0.5em;
		}

		.card {
			flex-basis: 34%;
			max-width: calc(50% - 3rem);
			margin: 1.5rem;
		}
	}

	@media screen and (min-width: 992px) {
		section {
			font-size: 20px;
		}

		.card:hover {
			transform: translateY(-1em);
		}
	}

	@media screen and (min-width: 1200px) {
		section {
			font-size: 22px;
		}

		.card {
			flex-basis: 26%;
		}
	}

	@media screen and (min-width: 1400px) {
		section {
			font-size: 24px;
		}
	}

	@media screen and (min-width: calc(1400px + 3rem)) {
		.container {
			padding: 0;
		}
	}

	@media screen and (min-width: 2000px) {
		section {
			font-size: 28px;
		}
	}

	@media screen and (min-width: 3000px) {
		section {
			font-size: 34px;
		}
	}
</style>
