---
import { getImage } from "astro:assets";
import "@styles/fonts.css";

import parker from "@assets/images/tulips.jpeg";
const optimizedParker = await getImage({ src: parker });
---

<section class="container">
	<img src={optimizedParker.src} alt="Portrait of Parker Piedmont" />
	<div class="container center-children">
		<div>
			<h1>
				<span id="intro">Hi, my name is</span>
				<br />
				<span id="name">Parker Piedmont.</span>
				<br />
				<span id="job-description">I write electronic music.</span>
			</h1>

			<p>
				I'm a composer and producer in the Seattle area. I combine elements of
				synthwave, jazz, and EDM to tell a story.
			</p>

			<a href="#goto"
				><i class="bi bi-arrow-down"></i>
				Listen Now
				<i class="bi bi-arrow-down"></i>
			</a>
		</div>
	</div>

	<style lang="scss">
		@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
		@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

		.container {
			display: flex;
			max-width: 100%;

			&.center-children {
				justify-content: center;
				align-items: center;
			}
		}

		section {
			flex-direction: column;
			min-height: 75vh;
			padding: 3em 2em;
			color: #fff;
			font-size: 16px;
			background: linear-gradient(135deg, #170044, #510055);
			border: none;
			-webkit-mask: conic-gradient(
					from -45deg at bottom,
					#0000,
					#000 1deg 89deg,
					#0000 90deg
				)
				50%/3em 100%;
		}

		img {
			display: block;
			max-width: min(60%, 350px);
			margin: 0 auto;
			object-fit: cover;
			aspect-ratio: 1/1;
			border: 0.1em solid #ff6fe7;
			border-radius: 50%;
		}

		div.container.center-children {
			flex-grow: 1;
			padding-bottom: 1.5em;
		}

		h1 {
			margin: 3em 0 1em;
			font-size: 1em;
		}

		#intro {
			display: inline-block;
			margin-bottom: 1em;
			font-family: "IBM Plex Mono", monospace;
			font-size: 1em;
			font-weight: 400;
			color: #ff6fe7;
		}

		#name {
			font-family: "Inter", sans-serif;
			font-size: 2.5em;
			word-spacing: 0.1em;
			text-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
		}

		#job-description {
			color: #f3c6ac;
			font-family: "Inter", sans-serif;
			font-size: 2.5em;
			word-spacing: 0.1em;
			text-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
		}

		p {
			max-width: 19em;
			margin-bottom: 2em;
			font-family: "Inter", sans-serif;
			font-size: 1.125em;
			line-height: 1.5;
		}

		a {
			display: inline-block;
			padding: 0.75em 1.5em;
			border: 0.1em solid #ff6fe7;
			font-family: "IBM Plex Mono", monospace;
			font-size: 1.125em;
			text-decoration: none;
			color: #ff6fe7;

			&:hover {
				background: #ff6fe7;
				color: #000;
			}
		}

		@media screen and (min-width: 400px) {
		}

		@media screen and (min-width: 576px) {
			section {
				font-size: 18px;
			}
		}

		@media screen and (min-width: 768px) {
			section {
				flex-direction: row;
				padding: 0;
			}

			img {
				max-width: 35%;
				border: none;
				border-radius: 0%;
			}

			div.container.center-children {
				padding: 3em;
				padding-bottom: calc(3em + 20px);
				background: linear-gradient(135deg, #170044, #510055);
			}

			h1 {
				margin-top: 0;
			}
		}

		@media screen and (min-width: 992px) {
			section {
				font-size: 20px;
			}

			div.container.center-children {
				padding: 5em;
				padding-bottom: calc(5em + 20px);
			}
		}

		@media screen and (min-width: 1200px) {
			section {
				font-size: 22px;
			}
		}

		@media screen and (min-width: 1400px) {
			section {
				font-size: 24px;
			}
		}

		@media screen and (min-width: 2000px) {
			section {
				font-size: 28px;
			}
		}

		@media screen and (min-width: 3000px) {
			section {
				font-size: 34px;
			}
		}
	</style>
</section>
