---
import TestLayout from "@layouts/TestLayout.astro";
const { frontmatter } = Astro.props;
console.log("frontmatter:", frontmatter);
---

<TestLayout>
	<header class="container full-width center-children">
		<h1>{frontmatter.title}</h1>
	</header>
	<p>Album art by {frontmatter.albumArt.artist}</p>
	<slot />
</TestLayout>

<style>
	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

	header {
		padding: 5rem;
		background: linear-gradient(135deg, #170044, #510055);
	}

	h1 {
		font-family: "Inter", sans-serif;
		margin: 0;
	}
</style>
