---
import "@styles/bootstrap/bootstrap.min.css";
import "@styles/fonts.css";
import "@styles/variables.css";
import "@styles/nav.css";
import "@styles/input-range.css";
import "@styles/styles.css";

import Header from "@components/Header.astro";
import MusicPlayer from "@components/MusicPlayer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Parker Piedmont | Composer & Producer</title>
		<meta
			name="description"
			content="Parker Piedmont is a composer and producer located in the Seattle area. He writes electronic music, using combining synthesizers with occasional acoustic instruments for a distinct electroacoustic sound. Listen to his music here!"
		/>
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<link
			href="/icons/bootstrap-icons-1.10.3/bootstrap-icons.css"
			rel="stylesheet"
		/>

		<style>
			body {
				padding-top: 88px;
			}
		</style>
	</head>

	<body data-bs-theme="dark" class="bg-main font-monospace">
		<Header />

		<slot />

		<MusicPlayer />

		<script>
			import "@scripts/bootstrap/bootstrap.bundle";
			import "@scripts/musicPlayer";
			import "@scripts/margins";
		</script>
	</body>
</html>
