---
import "@styles/global.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Test</title>
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<link
			href="/icons/bootstrap-icons-1.10.3/bootstrap-icons.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<slot />
	</body>
</html>
